@import "bootstrap-variables";
@import "bootstrap-custom";
@import "mixins";

@import "about.scss";
@import "contact.scss";
@import "nav";
@import "portfolio";
@import "subscribe";
@import "footer";

@import "slick.scss";

//font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800|Montserrat:700');

a,
[type="submit"],
[type="button"],
button,
.btn {
	@include ba-transition;
}

.btn{
	@include ba-transition;
	display: inline-block;
	background: $brand-primary;
	color: #fff;
	font: 700 14px/51px $headings-font-family;
	padding: 0 32px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 0;
	border: none;
	height: 50px;
	&:hover, &focus {
		background: darken($brand-primary, 20%);
		color: #fff;
		text-decoration: none;
	}
}

img{
	max-width: 100%;
	height: auto;
}


//home page
.ba-intro {
	background-size: cover;
	&__body {
		padding: 126px 0 122px;
		max-width: 580px;
		margin: 0 auto;
		font-size: 16px;
	}
	&__img {
		position: absolute;
		top: 0;
	}
	&__text {
		width: 87%;
		padding-bottom: 30px;
		line-height: 2.2;
	}
	&__btn {
		position: absolute;
		right: 3%;
		bottom: -22px;
	}
}
.ba-history {
	padding-top: $grid-gutter-width;
	@include breakpoint(md) {
		padding-top: 18px;
	}
}

//breadcrumbs
.ba-breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.ba-breadcrumbs li {
	display: inline-block;
	font:700 14px/1 Montserrat, sans-serif;
}
.ba-breadcrumbs li:not(:first-child):before {
	content: "/";
	margin: 0 4px;
}
.ba-breadcrumbs a,
.ba-breadcrumbs span {
	color:  #60606e;
	text-transform: uppercase;
}
.ba-breadcrumbs a:hover {
	text-decoration: underline;
}

.ba-page-title {
	text-transform: uppercase;
	margin: 0 0 13px;
	&__sup {
		position: absolute;
		font-size: 18px;
		font-weight: 700;
		bottom: 100%;
		left: 50%;
		transform: translate(-50%, -10px);
		background: $brand-primary;
		padding: 0 20px;
		height: 30px;
		line-height: 34px;

	}
	&--index {
		border: 10px solid  $text-color;
		display: inline-block;
		font-size: 48px;
		text-transform: uppercase;
		position: relative;
		padding: 4px 37px;
		letter-spacing: -0.6px;
		margin-bottom: 20px;
	}
}
.ba-title {
	text-transform: uppercase;
	margin: 0 0 8px;
	z-index: 2;
	& span {
		display: inline-block;
		position: relative;
		z-index: 0;
		&:before {
			position: absolute;
			content: "";
			background-color:  #7beec7;
			width: 68px;
			height: 21px;
			z-index: -1;
			left: 0;
			bottom: 3px;
		}
	}
	&__center {
		text-align: center;
	}
}
.ba-subtitle {
	text-transform: uppercase;
	margin: 0 0 16px;
	font-family: $font-family-base;
	font-weight: 800;
}
p {
	margin: 0 0 15px;
	&:last-child {
		margin-bottom: 0;
	}
}

.ba-section {
	padding-top: 140px;
	&__min {
		padding-top: 92px;
	}
	&__head {
		text-align: center;
		margin: 0 auto 90px;
		padding-top: 6px;
		max-width: 750px;
	}
	&__content{
		max-width: 750px;
		margin: 0 auto 100px;
		text-align: center;
	}
}

.ba-advantages {
	margin-top:  240px;
	text-align: center;
	&__section {
		padding-top: 100px;
	}
	&__text {
		width: 65%;
		margin: 0 auto;
	}
}
.ba-advantages-article {
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&__body {
		flex-basis: 50%;
	}
	&__icon {
		font-size: 36px;
	}
	&__title {
		color:  #60606e;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0;
	}
	&__text {
		margin: 0;
		padding: 25px 0 ;
		list-style: none;
		li {
			color:  #999999;
			font-size: 14px;
			text-transform: uppercase;
			padding-bottom: 5px;
		}
	}
}


//socials-list
.ba-social-list {
	list-style: none;
	margin: 0;
	padding: 16px 0 0;
	display: flex;

	li {
		margin-right: 10px;
		transition: transform 0.2s;
		&:hover {
			transform: translateY(-3px);
		}
		&:last-child {
			margin-right: 0;
		}
		i {
			color:  #999999;
			font-size: 18px;
			padding: 0 4px;
			transition: color 0.3s;
			&:hover {
				 color: $brand-primary;
			 }
		}
	}
}
.breadcrumb {

	li {
		text-transform: uppercase;
		font: 700 14px/1 $headings-font-family;

		a {
			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}
}


@import "blog";