// contact

.ba-contact-form {
  & input, textarea {
    background: #FEFCF9;
    font-family: Montserrat;
    color: #cccccc;
    font-size: 12px;
    font-weight: 700;
  }
  & input {
    line-height: 49px;
    padding: 24px 12px;
  }
  &__textarea {
    margin-bottom: 32px;
    resize: none;
  }
  &__name {
    width: 47.5%;
    display: inline-block;
  }
  &__email {
    width: 47.5%;
    display: inline-block;
    float: right;
  }
  &__btn {
    padding: 12px 60px;
    font-weight: 700;
    font-size: 14px;
    font-family: Montserrat;
  }
}
.ba-contact-info {
  padding-top: 100px;
  color:  #999999;
  font-size: 14px;
  font-weight: 400;
  &__title {
    font-family: Montserrat;
    color:  rgba(96, 96, 110, 0.5);
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 700;
    line-height: 48px;/* Approximation due to font substitution */
    text-align: left;
  }
  &__text {
    
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__links {
    color:  #999999;
  }
}