<footer class="ba-footer">
	<div class="container">
		<div class="row ba-footer__container">
			<div class="col-md-7 col-lg-8">
				<nav>
					<ul class="nav navbar-nav ba-footer-menu">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="about.html">About us</a>
						</li>
						<li>
							<a href="services.html">Services</a>
						</li>
						<li>
							<a href="portfolio.html">portfolio</a>
						</li>
						<li>
							<a href="blog.html">Blog</a>
						</li>
						<li>
							<a href="contact.html">Contact us</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-md-5 col-lg-4">
				<p class="ba-footer__text">Created by Mudriak 2016. All Rights Reserved</p>
				//=include social_list.html
			</div>
		</div>
		<!-- /.row -->
	</div>
</footer>
