<section class="ba-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ba-cal-to-action">
                    <h3 class="ba-contact__title">YOU THINK WE'RE COOL ? LET'S WORK TOGETHER</h3>
                    <a href="#" class="ba-contact__btn">get in touch</a>
                </div>
            </div>
            <!-- /.col-xs-12 col-md-6 -->
            <div class="col-md-6 ba-contact-body__pt">
                <div class="ba-contact-body">
                    <h4 class="ba-contact-body__title">STAY INFORMED WITH OUR NEWSLETTER</h4>
                    <p class="ba-contact-body__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <form method="post" action="#" class="ba-contact-body__form">
                        <input type="email" name="email" required>
                        <span class="ba-contact-body__placeholder">Your Email</span>
                        <a href="#" class="btn btn-primary">send</a>
                    </form>
                </div>
            </div>
            <!-- /.col-xs-12 col-md-6 -->
        </div>
    </div>
    <!-- END container -->
</section>
<!-- /.ba-contact -->